<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=yes">

    <!--CSS -->
    <link rel="stylesheet" href="/css/style3.css">

    <title>Login Page</title>
  </head>

<body>
<div class="container">
  <section id="content">
    <form action="/db-log" method="POST">
      <h1>Login Form</h1>
      <div>
        <input type="text" placeholder="username" required="" id="username" name="username" />
      </div>
      <div>
        <input type="password" placeholder="password" required="" id="password" name="password">
      </div>
      <div>
        <input type="submit" value="Log in" />
        <a href="/">Back to home!!</a>
        <!-- <a href="#">Register</a> -->
      </div>
    </form><!-- form -->
    
  </section><!-- content -->
</div><!-- container -->
</body>
</html>